:root {
  --primary: #d05c2b;
  --secondary: rgb(163, 44, 44);
  --text: color: #888;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 400;
  color: #888;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: #888;
}

/* App */

.App {
  display: flex;
  background-color: var(--light);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* Music Player */

.MusicPlayer {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0 0.2);
}

/* Display */

.Display {
  display: flex;
  justify-content: space-evenly;
  padding: 26px;
  background-color: var(--dark);
  color: var(--light);
  font-weight: 300;
}

.Display img {
  text-align: left;
  width: 200px;
  height: 200px;
}

/* Song Information */

.Information {
  display: grid;
  padding: 40px;
  align-items: center;
}

.Information h1{
  text-align: center;
}

.Information h2{
  text-align: center;
}
/* Buttons */

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

/* Controls */

.Controls {
  display: flex;
}

.Controls button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}
